@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	list-style: none;
/* 	border: 1px solid black; */
}

a {
	color: black;
}

.header {
	background-color: white;
	box-shadow: 1px 1px 10px rgb(235, 234, 234);
}

.container {
	min-height: 100vh;
	margin-top: 120px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.viewForm {
	width: 70%;
/* 	min-height: 100vh; */
/* 	margin-bottom: 20px; */
	display: flex;
	flex-direction: column;
/* 	align-items: center; */
}

.viewForm > div {
	margin-bottom: 20px;
}

.titleDiv {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	width: 100%;
	font-weight: bold;
	font-size: 24px;
	padding-left: 120px;
	padding-bottom: 10px;
/* 	margin-bottom: 15px; */
}

.subjectInput {
	font-weight: bold;
	font-size: 24px;
	border: 0;
	outline: none;
	border-radius: 20px;
	padding: 5px 10px;
}

.subjectInputFocus {
	font-weight: bold;
	font-size: 24px;
	border: 0;
	outline: none;
	border-radius: 20px;
	padding: 5px 20px;
	background-color: rgba(221, 221, 221, 0.4);
}

.listTable {
	width: 70%;
	text-align: center;
	border-collapse: collapse;
}

.listTable tr {
	border-bottom: 2px solid #25316d4d;
}

.listTable th, .listTable td {
	padding: 10px;
}

.viewBoard {
	width: 100%;
/* 	margin-bottom: 20px; */
}

.viewTable {
	width: 60%;
	margin-bottom: 20px;
}

.viewTable th {
	width: 250px;
	padding: 5px;
}

.viewTable td {
	padding: 5px;
}

.boardContent {
	width: 90%;
	min-height: 50vh;
	margin: 0 auto;
	padding: 30px 50px;
	border-radius: 20px;	
	border: 2px solid #25316d4d;
	box-shadow: 5px 5px 7px rgba(221, 221, 221, 0.4);
}

.boardContent > textarea {
	border: 0;
	width: 100%;
	height: 48vh;
	outline: none;
	resize: none;
}

.viewBtn {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.listButton,
.viewBtn button {
/*   margin: 0 0 15px; */
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(95, 111, 148);
  width: 100px;
  height: 45px;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.listButton:hover,
.listButton:active,
.listButton:focus,
.viewBtn button:hover,
.viewBtn button:active,
.viewBtn button:focus {
  background: rgba(95, 111, 148, 0.673);
}

.listButton {
	margin-right: 80px;
}

.link {
	margin-bottom: 15px;
}

.pagination {
    display: flex;
    margin-top: 30px;
}
.pagination > * {
    margin: 0 10px;
}

.disabled {
    display: none;
}

.active{
	font-weight: 1000;
	color : red;
}