.container {
  display: flex;
  height: 100vh;
  /* z-index: 1;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding-bottom: 70px; */
  flex-direction: column;
  justify-content: center;
}

.login-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;

  text-align: center;
}

.login-page > h1 {
  text-shadow: 3px 2px 2px rgb(169, 173, 168);
  font-size: 50px;
  margin-bottom: 15px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  /* background: #f2f2f2; */
  border: 0;
  border-bottom: 1px solid;
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.buttonbox {
  margin: 15px 0 15px 0px;
}

.login-add {
  display: flex;
  justify-content: space-between;
}

.login-add > a {
  color: black;
  text-decoration: none;
}

.form button {
  margin: 0 0 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(95, 111, 148);
  width: 100%;
  height: 45px;
  border: 0;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: rgba(95, 111, 148, 0.673);
}

.header {
	background-color: white;
	box-shadow: 1px 1px 10px rgb(235, 234, 234);
}
